POSTGRES_DB=product_catalog
POSTGRES_USER=catalog
POSTGRES_PASSWORD=catalog
POSTGRES_PORT=5432

API_PORT=4000
JWT_SECRET=9c47c47b9947accf0546fcd1843057c0cc0cb2accb60d56ca824c74773bcdee7
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin12345

VITE_API_URL=http://localhost:4000/api
WEB_PORT=5173
